<!DOCTYPE html>
<!--PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flower Shop - Cart</title>
    <div th:replace="fragments/header :: head"></div>
</head>
<body>
<div id="wrap">
    <div th:replace="fragments/header :: header-area"></div>

    <div class="center_content">
        <div class="left_content">
            <div class="title"><span class="title_icon"><img src="../static/images/bullet1.gif" alt=""/></span>My cart
            </div>
            <div class="feat_prod_box_details">
                <table class="cart_table">
                    <tr class="cart_title">
                        <td>Item pic</td>
                        <td>Product name</td>
                        <td>Unit price</td>
                        <td>Qty</td>
                        <td>Total</td>
                    </tr>
                    <tr  th:each="lineItem : ${lineItems}">
                        <td><a th:href="@{/products/select?{id} = id(${lineItem.productRepr.id})}"><img th:src="@{/picture/{id}(id=${lineItem.productRepr.pictureIds[0]})}" alt="" border="0"
                                             class="cart_thumb"/></a></td>
                        <td th:text="${lineItem.productRepr.name}">Gift flowers</td>
                        <td>$<span th:text="${lineItem.productRepr.price}">100$</span></td>
                        <td th:text="${lineItem.qty}">1</td>
                        <td>$<span th:text="${lineItem.total}">100$</span></td>
                    </tr>

                    <tr>
                        <td colspan="4" class="cart_total"><span class="red">TOTAL SHIPPING:</span></td>
                        <td> 250$</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="cart_total"><span class="red">TOTAL:</span></td>
                        <td> 325$</td>
                    </tr>
                </table>
                <a href="#" class="continue">&lt; continue</a> <a href="#" class="checkout">checkout &gt;</a></div>
            <div class="clear"></div>
        </div>
        <!--end of left content-->
        <div th:replace="fragments/right-content::right-content"></div>
        <!--end of right content-->
        <div class="clear"></div>
    </div>
    <!--end of center content-->
    <div th:replace="fragments/footer::footer"></div>
</div>
</body>
</html>

