<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="head">
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
        <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
<!--        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
    </th:block>
</head>

<div th:fragment="header-area" class="header">
    <div class="logo"><a th:href="@{/index}">
        <img src="../static/images/logo.gif" th:src="@{/images/logo.gif}" alt="" border="0"/>
    </a></div>
    <div id="menu">
        <ul>
            <li class="selected"><a th:href="@{/index}">home</a></li>
            <li><a th:href="@{/about}">about us</a></li>
            <li><a th:href="@{/categories/select?id={id}(id=${-1})}">flowers</a></li>
            <li><a th:href="@{/specials}">specials gifts</a></li>
            <li><a th:href="@{/myaccount}">my accout</a></li>
            <li><a th:href="@{/register}">register</a></li>
            <li><a th:href="@{/details}">prices</a></li>
            <li><a th:href="@{/contact}">contact</a></li>
        </ul>
    </div>
</div>

</html>