<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="right-content" id="right-content" class="right_content">
    <div class="languages_box"><span class="red">Languages:</span>
        <a href="#" class="selected"><img src="../static/images/gb.gif" th:src="@{/images/gb.gif}" alt=""
                                          border="0"/></a>
        <a href="#"><img src="../static/images/fr.gif" th:src="@{/images/fr.gif}" alt="" border="0"/></a>
        <a href="#"><img src="../static/images/de.gif" th:src="@{/images/de.gif}" alt="" border="0"/></a>
    </div>
    <div class="currency"><span class="red">Currency: </span> <a href="#">GBP</a> <a href="#">EUR</a> <a
            href="#" class="selected">USD</a></div>
    <div class="cart">
        <div class="title"><span class="title_icon"><img src="../static/images/cart.gif" th:src="@{/images/cart.gif}"
                                                         alt=""/></span>My cart
        </div>
        <div class="home_cart_content"> 3 x items | <span class="red">TOTAL: 100$</span></div>
        <a href="cart.html" th:href="@{/cart}" class="view_cart">view cart</a></div>
    <div class="title"><span class="title_icon"><img src="../static/images/bullet3.gif" th:src="@{/images/bullet3.gif}"
                                                     alt=""/></span>About Our Shop
    </div>
    <div class="about">
        <p><img src="../static/images/about.gif" th:src="@{/images/about.gif}" alt="" class="right"/> Lorem ipsum dolor
            sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud. </p>
    </div>
    <div class="right_box">
        <div class="title"><span class="title_icon"><img src="../static/images/bullet4.gif"
                                                         th:src="@{images/bullet4.gif}" alt=""/></span>Promotions
        </div>
        <div class="new_prod_box"><a href="#" th:href="@{product}">product name</a>
            <div class="new_prod_bg"><span class="new_icon"><img src="../static/images/promo_icon.gif"
                                                                 th:src="@{/images/promo_icon.gif}" alt=""/></span> <a
                    href="#" th:href="@{product}"><img src="../static/images/thumb1.gif" th:src="@{/images/thumb1.gif}"
                                                       alt="" class="thumb" border="0"/></a></div>
        </div>
        <div class="new_prod_box"><a href="#">product name</a>
            <div class="new_prod_bg"><span class="new_icon"><img src="../static/images/promo_icon.gif"
                                                                 th:src="@{/images/promo_icon.gif}" alt=""/></span> <a
                    href="#" th:href="@{product}"><img src="../static/images/thumb2.gif" th:src="@{/images/thumb2.gif}"
                                                       alt="" class="thumb" border="0"/></a></div>
        </div>
        <div class="new_prod_box"><a href="#">product name</a>
            <div class="new_prod_bg"><span class="new_icon"><img src="../static/images/promo_icon.gif" alt=""/></span>
                <a
                        href="#" th:href="@{product}"><img src="../static/images/thumb3.gif"
                                                           th:src="@{/images/thumb3.gif}" alt="" class="thumb"
                                                           border="0"/></a></div>
        </div>
    </div>
    <div class="right_box">
        <div class="title"><span class="title_icon"><img src="../static/images/bullet5.gif"
                                                         th:src="@{/images/bullet5.gif}" alt=""/></span>Categories
        </div>
        <ul class="list" th:each="category : ${categories}">
            <li>
                <a th:href="@{/categories/select?id={id}(id=${category.id})}" th:text="${category.getName()}">Букеты</a>
            </li>
        </ul>
<!--        <div class="title"><span class="title_icon"><img src="../static/images/bullet6.gif"-->
<!--                                                         th:src="@{/images/bullet6.gif}" alt=""/></span>Partners-->
<!--        </div>-->
<!--        <ul class="list">-->
<!--            <li><a href="#" th:href="@{category}">accesories</a></li>-->
<!--            <li><a href="#" th:href="@{category}">flower gifts</a></li>-->
<!--            <li><a href="#" th:href="@{category}">specials</a></li>-->
<!--            <li><a href="#" th:href="@{category}">hollidays gifts</a></li>-->
<!--            <li><a href="#" th:href="@{category}">accesories</a></li>-->
<!--            <li><a href="#" th:href="@{category}">flower gifts</a></li>-->
<!--            <li><a href="#" th:href="@{category}">specials</a></li>-->
<!--            <li><a href="#" th:href="@{category}">hollidays gifts</a></li>-->
<!--            <li><a href="#" th:href="@{category}">accesories</a></li>-->
<!--        </ul>-->
    </div>
</div>
</html>